---
import profile from "../img/aboutme/about-me-profile.webp";

import Tags from "../components/Tags/Tags.astro";

import { aboutMeTechData } from "../data/aboutMeTechData.ts";
---

<section
  class="mx-auto grid min-h-dvh max-w-[108rem] grid-cols-1 place-content-center place-items-center gap-5 lg:p-0 p-10"
>
  <picture
    class="flex items-center justify-center rounded-full border-4 border-white"
  >
    <img
      class="object-cover size-36 h-[10em] w-[10em] rounded-full p-2 duration-300 md:size-80"
      src={profile.src}
      alt=""
    />
  </picture>
  <div class="grid grid-cols-1 place-content-center place-items-center gap-5">
    <p
      class="font-RobotoSlabBold font-bold tracking-wide text-white text-4xl md:text-5xl"
    >
      Hi, I'm David! 👋
    </p>
    <div class="flex flex-wrap items-center justify-center gap-3 text-white">
      {
        aboutMeTechData.map(({ name, svg, bgColor, textColor }) => (
          <Tags name={name} svg={svg} bgColor={bgColor} textColor={textColor} />
        ))
      }
    </div>
    <p
      class="mt-5 text-center font-light tracking-wide text-white text-lg md:text-2xl"
    >
      Software Engineering student with experience in robotic process automation (RPA), API integration and hardware maintenance. More than a year applying knowledge in software development, system testing and resolution of technical incidents in high-performance environments. Development competencies with React, Postman, and Automation Anywhere, along with technical training in industrial electronics. Oriented to continuous improvement, creation of efficient solutions and professional consolidation in the IT area.
    </p>
  </div>
</section>
